<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/best-selling-car-list.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="main-title">
                <h1 class="mb-10">best selling cars</h1>
                <div class="title-border">
                    <div class="title-border-inner"></div>
                    <div class="title-border-inner"></div>
                    <div class="title-border-inner"></div>
                    <div class="title-border-inner"></div>
                </div>
            </div>


            <div class="row">
                <%for(var i=0;i<bestList.length;i++){%>
                <%if(bestList[i].HotCars == 1){%>

                <div class="col-md-4">
                    <div class="car-box-3">
                        <a href="/car-detail?id=<%=bestList[i].CID%>" class="car-img">
                        <div class="car-thumbnail">

                                <div class="tag-2 bg-active" style="background-color: red; color: black;text-align: center"> <b> BEST SELLING</b></div>
                            <%if(bestList[i].Discount == 1){%>
                                <div class="price-box-2" style="color: white"><sup>$</sup><del style="font-size: 12px"><%=bestList[i].Price%></del> <sup>$</sup><%=(bestList[i].Price * bestList[i].Percent/100)%> </div>
                            <%}%>
                            <%if(bestList[i].Discount == 0){%>
                            <div class="price-box-2" style="color: white"><sup>$</sup><%=bestList[i].Price%> </div>
                            <%}%>
                                <img class="d-block w-100" style="height: 250px" src="<%=bestList[i].Image1%>" alt="car">


                        </div>
                        </a>
                        <div class="detail">
                            <div style=" height: 50px; color: #dc3545 ">
                            <h1 class="title">
                                <a href="/car-detail?id=<%=bestList[i].CID%>"><%=bestList[i].BrName%> <%=bestList[i].Name%></a>
                            </h1>
                            </div>
                            <div class="location">
                                <a href="car-details.html">
                                    <i class="flaticon-pin"></i>8 Ton That Thuyet
                                </a>
                            </div>
                            <div class="row" id="best-color">
                                <div class="col-md-4"><i class="fa-solid fa-calendar-days"></i> <%= bestList[i].Year%> </div>
                                <div class="col-md-4"><i class="fa-solid fa-car"></i>  <%=bestList[i].BodyStyle%></div>
                                <div class="col-md-4"><i class="fa-solid fa-gas-pump"></i>  <%=bestList[i].Fueltype%></div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
            <%}%>
        </div>

    </div>
    </div>
</body>
</html>