<link rel="stylesheet" href="/css/car-discount.css">
<body>
<div class="container">
    <div class="row">
        <div class="main-title">
            <h1 class="mb-10">car discount</h1>
            <div class="title-border2">
                <div class="title-border-inner2"></div>
                <div class="title-border-inner2"></div>
                <div class="title-border-inner2"></div>
                <div class="title-border-inner2"></div>
            </div>

        </div>


        <div class="row">
            <%for(var i=0;i<bestList.length;i++){%>
            <%if(bestList[i].Discount == 1){%>
            <div class="col-lg-4 col-md-6">
                <div class="car-box-3">
                    <a href="/car-detail?id=<%=bestList[i].CID%>" class="car-img">
                    <div class="car-thumbnail">

                            <div class="tag-2 bg-active" style="background-color: red; color: black;text-align: center"> <b>- <%=(100 - bestList[i].Percent)%>%</b></div>

                            <div class="price-box-2" style="color: #FEFFFD"><sup>$</sup><del style="font-size: 12px"><%=bestList[i].Price%></del> <sup>$</sup><%=(bestList[i].Price *bestList[i].Percent/100)%> </div>

                            <img class="d-block w-100" style="height: 250px" src="<%=bestList[i].Image1%>" alt="car">

                    </div>
                    </a>
                    <div class="detail">
                        <div id="best-color" style="height: 50px">
                            <h1 class="title">
                                <a href="/car-detail?id=<%=bestList[i].CID%>"><%=bestList[i].BrName%> <%=bestList[i].Name%></a>
                            </h1>
                        </div>

                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>8 Ton That Thuyet
                            </a>
                        </div>

                        <div class="row" id="best-color">
                            <div class="col-md-4"><i class="fa-solid fa-calendar-days"></i> <%= bestList[i].Year%> </div>
                            <div class="col-md-4"><i class="fa-solid fa-car"></i>  <%=bestList[i].BodyStyle%></div>
                            <div class="col-md-4"><i class="fa-solid fa-gas-pump"></i>  <%=bestList[i].Fueltype%></div>
                        </div>
                    </div>
            </div>
            </div>
            <%}%>
            <%}%>
        </div>
    </div>
</div>
</body>
