<link rel="stylesheet" href="/css/car-discount.css">
<body>
<div class="container">
    <div class="row">
        <h3 id="car-discount"><b>CAR DISCOUNT</b></h3>
        <div class="title-border2">
            <div class="title-border-inner2"></div>
            <div class="title-border-inner2"></div>
            <div class="title-border-inner2"></div>
            <div class="title-border-inner2"></div>
        </div>


        <div class="row">
            <%for(var i=0;i<bestList.length;i++){%>
            <%if(bestList[i].Discount == 1){%>
            <div class="col-lg-4 col-md-6">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag-2 bg-active" style="background-color: red; color: black;text-align: center"> <b>- <%=(100 - bestList[i].Percent)%>%</b></div>

                            <div class="price-box-2" style="color: #c7dbd2"><sup>$</sup><%=(bestList[i].Price *bestList[i].Percent/100)%> </div>

                            <img class="d-block w-100" src="<%=bestList[i].Image1%>" alt="car">
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                                        <i class="fa fa-eye-slash"></i>
                                    </a>
                                    <a class="overlap-btn wishlist-btn">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a class="overlap-btn compare-btn">
                                        <i class="fa fa-balance-scale"></i>
                                    </a>
                                    <div class="car-magnify-gallery">
                                        <a href="img/car/car-5.png" class="overlap-btn" data-sub-html="<h4>Hyundai Santa</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="img/car/car-5.png" alt="hidden-img">
                                        </a>
                                        <a href="img/car/car-2.png" class="hidden" data-sub-html="<h4>2020 Ford Mustang</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="img/car/car-2.png" alt="hidden-img">
                                        </a>
                                        <a href="img/car/car-3.png" class="hidden" data-sub-html="<h4>Lexus GS F</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="img/car/car-3.png" alt="hidden-img">
                                        </a>
                                        <a href="img/car/car-4.png" class="hidden" data-sub-html="<h4>Toyota Prius specs</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="img/car/car-4.png" alt="hidden-img">
                                        </a>
                                        <a href="img/car/car-1.png" class="hidden" data-sub-html="<h4>Toyota Prius</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="img/car/car-1.png" alt="hidden-img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <div id="best-color" style="height: 50px">
                            <h1 class="title">
                                <a href="car-details.html"><%=bestList[i].BrName%> <%=bestList[i].Name%></a>
                            </h1>
                        </div>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>8 Ton That Thuyet
                            </a>
                        </div>
                        <div class="row" id="best-color">
                            <div class="col-md-4"><i class="fa-solid fa-calendar-days"></i> <%= bestList[i].Year%> </div>
                            <div class="col-md-4"><i class="fa-solid fa-car"></i>  <%=bestList[i].BodyStyle%></div>
                            <div class="col-md-4"><i class="fa-solid fa-gas-pump"></i>  <%=bestList[i].Fueltype%></div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
            <%}%>
        </div>
    </div>
</div>
</body>
