<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include("css.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-submenu.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="/css/map.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/font/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/font/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/font/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/font/linearicons/style.css">
    <link rel="stylesheet" type="text/css"  href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css"  href="/css/dropzone.css">
    <link rel="stylesheet" type="text/css"  href="/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css"  href="/css/jnoty.css">
    <link rel="stylesheet" type="text/css"  href="/css/slick.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/initial.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="/css/skins/midnight-blue.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/img/logos/cm%20logo_black-02" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=OSans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="/css/ie10-viewport-bug-workaround.css">


    <script  src="/js/html5shiv.min.js"></script>
    <script  src="/js/respond.min.js"></script>
</head>
<body>

    <%- include("header.ejs")%>

    <%- include("banner.ejs")%>
    <%- include("best-selling-car-list.ejs")%>
    <%- include("car-discount.ejs")%>
    <%- include("our-agent.ejs")%>
    <%- include("intro-section.ejs")%>
    <%- include("footer.ejs")%>

</body>
<script type="text/javascript" src="/jQuery/jquery3.6.0.js"></script>
</html>