<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include("css.ejs")%>
    <link rel="stylesheet" href="/css/list-product.css"/>

</head>
<%- include("header.ejs")%>
<body>

<div class="container">
    <div class="row">
        <div class="main-title">
            <h1 id="list">LIST CAR </h1>

            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
    </div>

        <div class="col-lg-4 col-md-12">
            <div class="sidebar-left">

                <div class="widget widget-3 advanced-search2">
                    <h3 class="sidebar-title">Search Cars</h3>
                    <form method="GET">
                        <div class="form-group">
                            <select class="selectpicker search-fields" name="selectBrand">
                                <option>Select Brand</option>
                                <%for(var i=0;i<brandList.length;i++){%>
                                <option><%=brandList[i].BrName%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="selectpicker search-fields" name="selectYear">
                                <option>Select Year</option>
                                <%for(var i=0;i<yearList.length;i++){%>
                                <option><%=yearList[i].Year%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="selectpicker search-fields" name="selectBody">
                                <option>Select Body</option>
                                <%for(var i=0;i<bodyList.length;i++){%>
                                <option><%=bodyList[i].BodyStyle%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="selectpicker search-fields" name="orderBy">
                                <option value="0">Default Order</option>
                                <option value="1">Price High to Low</option>
                                <option value="2">Price: Low to High</option>
                                <option value="3">Newest Properties</option>
                                <option value="4">Oldest Properties</option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                            <button class="search-button btn">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <div class="row">
        <% for (var i = 0; i < searchList.length;i++){%>
        <div class="col-md-6">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a href="#">
                                <img style="height: 250px" src="/demo-list/demo-list.png"/>
                        </a>
                    </div>

                    <div class="detail">
                        <div style=" height: 50px; color: #dc3545 ">
                            <h1 class="title">
                                <a><%=searchList[i].BrName%> <%= searchList[i].Name%></a>
                            </h1>
                        </div>

                        <div class="row" id="best-color">
                            <div class="col-md-4"><i class="fa-solid fa-dollar-sign"></i> <%= searchList[i].Price%></div>
                            <div class="col-md-4"><i class="fa-solid fa-car"></i> <%=searchList[i].BodyStyle%></div>
                            <div class="col-md-4"><i class="fa-solid fa-gas-pump"></i> <%=searchList[i].Fueltype%></div>
                        </div>
                    </div>
                </div>
        </div>
        <%}%>

</div>
</div>
</body>
<%- include("intro-section.ejs")%>
<%- include("footer.ejs")%>

</html>