<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include("css.ejs")%>
    <link rel="stylesheet" href="/css/list-product.css"/>

</head>

<body>
<%- include("search_home.ejs")%>
<%- include("header.ejs")%>
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-left">

                    <div class="widget widget-3 advanced-search2">
                        <h3 class="sidebar-title">Search Cars</h3>
                        <form method="GET">
                            <div class="form-group">
                                <select class="search-fields" style="width: 360px;font-size: 14px" name="selectBrand">
                                    <option>Select Brand</option>
                                    <%for(var i=0;i<brandList.length;i++){%>
                                    <option><%=brandList[i].BrName%></option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="search-fields" style="width: 360px;font-size: 14px" name="selectYear">
                                    <option>Select Year</option>
                                    <%for(var i=0;i<yearList.length;i++){%>
                                    <option><%=yearList[i].Year%></option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="search-fields" style="width: 360px;font-size: 14px" name="selectBody">
                                    <option>Select Body</option>
                                    <%for(var i=0;i<bodyList.length;i++){%>
                                    <option><%=bodyList[i].BodyStyle%></option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="search-fields" style="width: 360px;font-size: 14px" name="orderBy">
                                    <option value="0">Default Order</option>
                                    <option value="1">Price High to Low</option>
                                    <option value="2">Price: Low to High</option>
                                    <option value="3">Newest Properties</option>
                                    <option value="4">Oldest Properties</option>
                                </select>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button btn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <%for(var i=0;i<searchList.length;i++){%>
                    <%if(searchList[i].Discount ==1) {%>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box">
                            <div class="photo-thumbnail">
                                <div class="photo">
                                    <img class="d-block w-100" style="height: 250px" src="<%=searchList[i].Image1%>" alt="car">
                                    <a href="/car-detail?Image=<%=searchList[i].Image1%>">
                                    </a>
                                </div>
                                <div class="tag" style="font-size: 20px"><sup>$</sup><%=(searchList[i].Price * searchList[i].Percent / 100)%></div>

                            </div>
                            <div class="detail" style="height: 150px">
                                <div class="top">
                                    <h1>
                                        <a href="/car-detail?Name=<%=searchList[i].Name%>"><%=searchList[i].BrName%> <%=searchList[i].Name%></a>
                                    </h1>
                                    <br>
                                    <p>Build year: <span><%=searchList[i].Year%></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <%if(searchList[i].Discount ==0) {%>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box">
                            <div class="photo-thumbnail">
                                <div class="photo">
                                    <img class="d-block w-100" style="height: 250px" src="<%=searchList[i].Image1%>" alt="car">
                                    <a href="/car-detail?Image=<%=searchList[i].Image1%>">
                                    </a>
                                </div>
                                <div class="tag" style="font-size: 20px"><sup>$</sup><%=searchList[i].Price%></div>

                            </div>
                            <div class="detail" style="height: 150px">
                                <div class="top">
                                    <h1>
                                        <a href="/car-detail?Name=<%=searchList[i].Name%>"><%=searchList[i].BrName%> <%=searchList[i].Name%></a>
                                    </h1>
                                    <br>
                                    <p>Build year: <span><%=searchList[i].Year%></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<%- include("intro-section.ejs")%>
<%- include("footer.ejs")%>

</html>